/**=====================
    Typography css start
==========================**/

body {
    font-family: $montserrat;
    position: relative;
    background-color: rgba(var(--white), 1);
    font-size: 14px;
    font-weight: normal;
    color: rgba(var(--title-color), 1);
    max-width: 600px;
    margin-inline: auto;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
    margin: 0;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
    margin: 0;

    @include mq-max(md) {
        font-size: calc(17px + (18 - 17) * ((100vw - 320px) / (600 - 320)));
    }
}

h4 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin: 0;

    @include mq-max(md) {
        font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (600 - 320)));
    }
}

h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
}

h6 {
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    display: inline-block;
}

p {
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
}

a {
    transition: 0.5s ease;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        transition: 0.5s ease;
    }

    &:focus {
        outline: none;
    }
}

// button {
//     &:focus {
//         outline: none;
//     }
// }

// .btn-close {
//     &:focus {
//         box-shadow: none;
//     }
// }

// label {
//     margin-bottom: 0.5rem;
// }

:focus {
    outline: none;
}

// .form-control {
//     &:focus {
//         box-shadow: none;
//     }
// }

// .form-select {
//     &:focus {
//         box-shadow: none;
//         border-color: #ced4da
//     }
// }

// .font-cormorant {
//     font-family: $font_3, $font-serif;
// }

// .font-fraunces {
//     font-family: 'Fraunces', serif;
// }

// .font-courgette {
//     font-family: 'Courgette', cursive;
//     text-transform: capitalize !important;
// }

// .text-theme {
//     color: var(--theme-color) !important;
// }

// .bg-success-10 {
//     background-color: rgba(#198754, 0.10) !important;
// }

// .bg-secondary-10 {
//     background-color: rgba(#6c757d, 0.10) !important;
// }

// .bg-danger-10 {
//     background-color: rgba(#dc3545, 0.10) !important;
// }

// .form-check-input {
//     &:checked {
//         background-color: var(--theme-color);
//         border-color: var(--theme-color);
//     }
// }