/**=====================
     Common scss
==========================**/
/* ======= Display Flex Css Start ======= */
@mixin flex_common($dis: flex, $align: center, $justify: center) {
  display: $dis;
  align-items: $align;
  justify-content: $justify;
}

/* ======= Display Flex Css End ======= */

/* ======= Remix Font Start ======= */
@mixin icon {
  font-family: remixicon;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

/* ======= Remix Font End ======= */

/*======= one, two, three line start ======= */
@mixin line($line: 1) {
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

/*======= one, two, three line end  ======= */

/*======= position css starts  ======= */
@mixin pos($pos: absolute, $content: "") {
  content: $content;
  position: $pos;
}

@mixin pseudowh($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

@mixin center($position) {
  @if $position=="vertical" {
    top: 50%;
    transform: translateY(-50%);
  }

  @else if $position=="horizontal" {
    left: 50%;
    transform: translateX(-50%);
  }

  @else if $position=="both" {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*======= position css ends  ======= */

/*======= align css starts  ======= */
@mixin rtl($property, $ltr-value, $rtl-value) {
  #{$property}: $ltr-value;

  [dir="rtl"] & {
    #{$property}: $rtl-value;
  }
}

// @include rtl(float, left, right);
/*======= align css ends  ======= */

/*======= Image Full Height And Width Start  ======= */
%img-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

%img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*======= Image Full Height And Width ends  ======= */