/**=====================
     1.3 Variable css start
==========================**/
:root {
  --theme-color: 51, 106, 234;
  --secondary-color: 254, 182, 2;
  --light-gray: 248, 248, 248;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --title-color: 34, 34, 34;
  --bs-heading-color: 34, 34, 34;
  --content-color: 136, 136, 136;
  --border-color: 233, 237, 255;
  --rating-color: 255, 149, 51;
}

.dark-mode {
  --theme-color: 51, 106, 234;
  --secondary-color: 254, 182, 2;
  --light-gray: 28, 28, 28;
  --white: 22, 22, 24;
  --black: 0, 0, 0;
  --title-color: 233, 233, 233;
  --bs-heading-color: 255, 255, 255;
  --content-color: 142, 142, 142;
  --border-color: 42, 42, 42;
}

/* fonts */
$montserrat: "Montserrat", sans-serif;

/**=====================
     1.3 Variable css end
==========================**/
