.collapse {
    margin-top: 6px;

    .collapse-body {
        padding: 13px 16px;
        font-size: calc(15px + ((16) - (15)) * ((100vw - 320px) / (1920 - 320)));
        background-color: rgba(var(--light-gray), 1);
        font-weight: 500;
        border: 1px solid rgba(var(--border-color), 1);
    }
}