/**=====================
    3.6 Modal css start
==========================**/
.theme-modal {
    .modal-dialog {
        max-width: unset;
    }

    .modal-content {
        border: none;
        border-radius: 20px 20px 0 0;
    }

    .modal-title {
        p {
            font-size: 14px;
            font-weight: 400;
            color: rgba(var(--content-color), 1);
            line-height: 1.6;
            margin-top: 8px;
        }
    }

    .modal-body {
        padding: 24px 15px;
    }

    .modal-contain {
        margin-top: 23px;

        .item-list {
            margin-top: 8px;
            list-style: outside;
            padding-left: 21px;
            display: grid;
            gap: 6px;

            li {
                display: list-item;
                color: rgba(var(--content-color), 1);
            }
        }
    }

    .apply-btn {
        width: 100%;
        font-weight: 500;
        font-weight: 16px;
        background-color: rgba(var(--theme-color), 1);
        color: rgba(var(--white), 1);
        padding: 15px;
        border-radius: 8px;
        margin-top: 18px;
    }
}

/**=====================
    3.6 Modal css end
==========================**/