/**=====================
    3.13 Rating css start
==========================**/
.rating {
  display: flex;
  align-items: center;
  gap: 3px;

  li {
    line-height: 1;
  }

  i {
    font-size: 14px;
    color: rgba(var(--rating-color), 1);

    &.fill {
      &::before {
        content: "\f186";
      }
    }
  }
}

/**=====================
    3.13 Rating css end
==========================**/
