/**=====================
    3.10 Slider css start
==========================**/
.dots-wrapper {
    .swiper-pagination {
        position: relative;
        inset: unset;
        margin-top: 11px;
        z-index: 0;

        .swiper-pagination-bullet {
            @include pseudowh($width: 9px, $height: 9px);
            border-radius: 100px;
            opacity: 1;
            transition: all 0.5s ease;
            background-color: rgba(245, 245, 245, 1);

            body.dark-mode & {
                background-color: rgba(28, 28, 28, 1);
            }

            &-active {
                width: 46px;
            }
        }
    }
}

.swiper {
    z-index: 0;

    .swiper-wrapper {
        z-index: 0;
    }
}

.continue-slider {
    z-index: 0;
    position: relative;

    >.swiper-wrapper {
        transition-timing-function: linear;
    }
}

.saving-slider {
    .swiper-wrapper {
        .swiper-slide {
            height: calc(80px + (125 - 80) * ((100vw - 320px) / (1920 - 320)));
            border-radius: 13px;
            padding: 6px;
            background-color: rgba(var(--white), 1);

            img {
                object-fit: contain;
                @include pseudowh;
            }
        }
    }
}

.product-slider {
    .product-image {
        @include flex_common;
        height: calc(240px + (300 - 240) * ((100vw - 320px) / (1920 - 320)));
        padding: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
        border-radius: 12px;
        background-color: rgba(var(--light-gray), 1);

        img {
            @extend %img-contain;
        }

    }
}

/**=====================
    3.11 Slider css end
==========================**/