/**=====================
    4.3 Header css start
==========================**/
.header-section {
  padding-block: 16px;
  background-color: rgba(var(--theme-color), 1);
  position: relative;

  &::before {
    @include pos;
    bottom: 0;
    @include center(horizontal);
    @include pseudowh($width: 100%, $height: 27px);
    border-radius: 15px 15px 0 0;
    background-color: rgba(var(--white), 1);
  }

  .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .left-header {
      font-size: 16px;

      >button {
        &::after {
          content: "\ea4e";
          @include icon;
        }
      }

      h5 {
        margin-top: 8px;
        color: rgba(255, 255, 255, 0.7);
      }
    }

    .right-header {
      .user-profile {
        @include pseudowh($width: 36px, $height: 36px);
        @include flex_common;
        background-color: #e7e7e7;
        color: rgba(var(--theme-color), 1);
        border-radius: 100%;

        h3 {
          font-size: 20px;
          font-weight: 600;
          line-height: 1;
        }
      }
    }
  }

  .theme-form {
    position: relative;
    margin-bottom: 35px;

    &::before {
      z-index: 1;
      content: "\f0d1";
      position: absolute;
      @include icon;
      padding: 0 12px;
      @include center(vertical);
      right: 0;
      font-size: calc(18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
      color: rgba(255, 255, 255, 0.22);
      border-left: 1px solid rgba(255, 255, 255, 0.22);
      height: auto;
    }

    .form-control {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.2);
      color: #fff;
      padding-right: calc(44px + (58 - 44) * ((100vw - 320px) / (1920 - 320)));

      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  .header-search-box {
    position: relative;
    margin-top: 17px;

    &::before {
      z-index: 1;
      @include pos($pos: absolute, $content: "\f0d1");
      @include icon;
      padding: 0 12px;
      padding-left: calc(19px + ((23) - (19)) * ((100vw - 320px) / (1920 - 320)));
      @include center(vertical);
      left: 0;
      height: auto;
      font-size: 18px;
      color: rgba(255, 255, 255, 1);
    }

    .form-control {
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.2);
      color: #fff;
      padding: calc(12px + ((14) - (12)) * ((100vw - 320px) / (1920 - 320)));
      padding-left: calc(49px + ((58) - (49)) * ((100vw - 320px) / (1920 - 320)));
      border-radius: 7px;

      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  &.header-spacing {
    padding-bottom: 82px;
  }
}

.header-section-2 {
  background-color: rgba(var(--theme-color), 1);
  padding-block: 17px 13px;
  color: rgba(var(--white), 1);

  &::before {
    content: unset;
  }

  a {
    color: #fff;
    font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1;
    z-index: 1;
  }

  h4 {
    color: #fff;
  }

  .header-title {
    position: absolute;
    display: block;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    color: #fff;
    @include center(both);
  }

  .header-search {
    .form-control {
      border-radius: 7px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: transparent;
      font-weight: 400;
      font-size: calc(15px + ((16) - (15)) * ((100vw - 320px) / (1920 - 320)));
      color: rgba(255, 255, 255, 0.9);
      padding: 14px;
      line-height: 1;

      &::placeholder {
        color: rgba(255, 255, 255, 0.71);
      }
    }
  }

  .header-search-box {
    position: absolute;
    top: 19px;
    right: 15px;
    z-index: 1;
    max-width: 270px;
    margin-top: 10px;
    transition: all 0.15s ease-in-out;
    opacity: 0;
    visibility: hidden;

    &.show {
      top: 53px;
      opacity: 1;
      visibility: visible;
    }

    .form-control {
      float: unset;
      margin: 0;
      padding: calc(11px + (14 - 11)*((100vw - 320px) /(1920 - 320))) 14px;
      font-size: 16px;
      font-weight: 400;
      box-shadow: unset;
      border-radius: 30px;
      background-color: rgba(var(--light-gray), 1);
      border: 1px solid rgba(var(--border-color), 1);
      color: rgba(var(--title-color), 1);
      padding-right: calc(44px + (58 - 44)*((100vw - 320px) /(1920 - 320)));

      &::placeholder{
        color: rgba(var(--content-color), 1);
      }
    }

    .close-btn {
      color: rgba(var(--content-color), 1);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 18px;
      font-size: 20px;
      cursor: pointer;
    }
  }

  &.about-header {
    padding-bottom: 174px;
  }
}

/**=====================
    4.3 Header css end
==========================**/