/**=====================
    4.4 Loader css start
==========================**/
.skeleton-loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(var(--white), 1);
  z-index: 2;
  cursor: wait;
  * {
    cursor: wait;
  }

  .placeholder {
    height: 26px;
    background: rgba(130, 130, 130, 0.2);
    background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(8%, rgba(130, 130, 130, 0.2)),
      color-stop(18%, rgba(130, 130, 130, 0.3)),
      color-stop(33%, rgba(130, 130, 130, 0.2))
    );
    background-size: 800px 100px;
    animation: wave-lines 2s infinite ease-out;
    margin-top: 0;
    border-radius: 3px;

    &.sm-h {
      height: 20px;
    }
  }

  .banner-section {
    .banner-sec {
      background-color: #f5f5f5;
      padding: 18px 0;
    }
    .banner-content {
      position: relative;
    }
  }

  .category-list {
    .offer-skeleton {
      width: 100%;
      height: auto;
      aspect-ratio: 1;
      border-radius: 100%;
      background-color: #f5f5f5;
      margin-bottom: 7px;
    }

    .placeholder {
      height: 20px;
    }
  }

  .custom-row {
    .nav-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
  }

  .category-list-box {
    li {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .product-box {
    .product-image {
      aspect-ratio: 29 / 20;
    }
  }
  .product-slider-loader {
    .product-image {
      @include flex_common;
      height: calc(240px + (300 - 240) * ((100vw - 320px) / (1920 - 320)));
      padding: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
      border-radius: 12px;
      background-color: rgba(var(--light-gray), 1);
    }
  }
}

/**=====================
    4.4 Loader css end
==========================**/
