/**=====================
    4.2 Product box css start
==========================**/
.product-box {
    .product-image {
        background-color: rgba(var(--light-gray), 1);
        padding: calc(14px + (23 - 14) * ((100vw - 320px) / (1920 - 320))) calc(8px + (26 - 8) * ((100vw - 320px) / (1920 - 320)));
        border-radius: 4px;
        @include flex_common;
        position: relative;

        img {
            height: calc(82px + (163 - 82) * ((100vw - 320px) / (1920 - 320)));
        }

        .product-option {
            position: absolute;
            top: 7px;
            right: 7px;
            height: 24px;
            width: 24px;
            @include flex_common;
            background-color: rgba(225, 225, 225, 1);
            border-radius: 100%;
            color: rgba(var(--white), 1);

            i {
                line-height: 1;
            }
        }
    }

    .product-detail {
        margin-top: 7px;

        a {
            @include line($line: 2);
            color: rgba(var(--title-color), 1);
            line-height: 1.3;
        }

        .rating-box {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 3px;

            span {
                color: rgba(var(--content-color), 1);
            }
        }

        .price-text {
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: 500;
            margin-top: 9px;

            del {
                color: rgba(var(--content-color), 1);
            }

            span {
                padding: 2px 5px;
                border-radius: 2px;
                background-color: rgba(33, 129, 0, 0.1);
                color: #218100;
                font-size: 12px;
                font-weight: 500;
            }
        }

        .progress {
            height: 5px;
            background: rgba(243, 243, 243, 1);
            border-radius: 100px;
            margin-top: 18px;

            .progress-bar {
                border-radius: 100px;
            }
        }

        h6 {
            margin-top: 6px;
            font-size: 12px;
            font-weight: 400;
        }
    }
}

.saving-product-section {
    background: linear-gradient(180deg, rgba(148, 174, 233, 0.33) 0%, rgba(208, 208, 208, 0.29) 100%);

    .saving-detail {
        margin-top: 26px;

        h5 {
            color: rgba(var(--theme-color), 1);
        }

        h2 {
            margin-top: 8px;
            font-size: 24px;
            font-weight: 700;

            @include break(600px) {
                font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
            }
        }
    }
}

.shop-filter-box {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 7px 13.2px 0px rgba(var(--black), 0.03);
    z-index: 1;
    background-color: rgba(var(--white), 1);

    .btn {
        width: 100%;
        border-radius: 0;
        padding: 14px;
        font-size: 15px;
        @include flex_common;
        gap: 5px;
        font-weight: 500;

        +.btn {
            border-left: 1px solid rgba(var(--border-color), 1);
        }

        .badge {
            background-color: rgba(var(--secondary-color), 1);
            width: 16px;
            height: 16px;
            display: inline-block;
            border-radius: 100%;
            @include flex_common;
            color: rgba(var(--title-color), 1);
            font-size: 12px;
            font-weight: 500;

        }
    }
}

.product-section {
    .product-details-box {
        margin-top: 14px;

        .product-title {
            margin-bottom: 5px;
        }

        .top-spacing {
            margin-top: 20px;
        }

        h4 {
            line-height: 1.5;
        }

        .color-variant-box {
            margin-top: 18px;

            .color-list {
                margin-top: 5px;
                padding: 7px 9px;
                border-radius: 100px;
                background-color: rgba(var(--light-gray), 1);
                display: inline-flex;
                gap: 9px;

                .form-check-input {
                    margin-top: 0;
                    border: none;
                    width: 26px;
                    height: 26px;
                    filter: unset;
                    position: relative;
                    z-index: 0;
                    border-radius: 100%;
                    box-shadow: 0px 1.06px 1.48px 0px rgba(var(--black), 0.12) inset;

                    &::before {
                        z-index: -1;
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 100%;
                        border: 1.06px solid rgba(178, 178, 178, 1);
                        width: 100%;
                        height: 100%;
                        transition: 0.15s ease-in-out;
                        opacity: 0;
                        visibility: hidden;
                    }

                    &:checked {
                        --bs-form-check-bg-image: none;

                        &::before {
                            opacity: 1;
                            visibility: visible;
                            width: calc(100% + 6px);
                            height: calc(100% + 6px);
                        }
                    }
                }
            }
        }

        .store-variant-box {
            margin-top: 18px;

            .color-list {
                margin-top: 5px;
                // padding: 7px 9px;
                // border-radius: 100px;
                // background-color: rgba(var(--light-gray), 1);
                display: inline-flex;
                gap: 10px;

                li {
                    position: relative;
                }

                .form-check-input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;

                    // &::before {
                    //     z-index: -1;
                    //     content: "";
                    //     position: absolute;
                    //     top: 50%;
                    //     left: 50%;
                    //     transform: translate(-50%, -50%);
                    //     border-radius: 100%;
                    //     border: 1.06px solid rgba(178, 178, 178, 1);
                    //     width: 100%;
                    //     height: 100%;
                    //     transition: 0.15s ease-in-out;
                    //     opacity: 0;
                    //     visibility: hidden;
                    // }

                    &:checked {
                        ~.form-check-label {
                            background-color: rgba(var(--theme-color), 0.04);
                            color: rgba(var(--theme-color), 1);
                            font-weight: 500;
                        }
                    }
                }


                .form-check-label {
                    padding: 9px 11px;
                    font-size: 14px;
                    font-weight: 400;
                    border-radius: 4px;
                }
            }
        }

        .description-list {
            display: grid;
            gap: 11px;

            li {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 6px;

                h5,
                h6 {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                h6 {
                    font-weight: 500;
                    font-size: 14px;
                    color: rgba(var(--title-color), 1);
                    text-align: right;
                }
            }
        }

        .product-form {
            position: relative;

            .form-control {
                background-color: rgba(var(--light-gray), 1);
                color: rgba(var(--title-color), 1);
                padding: 13px 74px 13px 19px;
                border-radius: 8px;
                box-shadow: none;
                font-size: 14px;
                font-weight: 500;
                border: none;

                &::placeholder {
                    color: rgba(var(--content-color), 1);
                }
            }

            .check-btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 19px;
                font-size: 14px;
                font-weight: 600;
                color: rgba(var(--theme-color), 1);
                padding: 0;
                height: calc(100% - 8px);
            }
        }

        .offer-list {
            display: flex;
            gap: 14px;
            flex-wrap: nowrap;
            overflow: auto;

            li {
                padding: 12px 14px;
                background-color: rgba(var(--light-gray), 1);
                border-radius: 8px;
                border: 1px solid rgba(var(--border-color), 1);
                min-width: 182px;

                p {
                    font-weight: 400;
                    margin-top: 6px;
                    color: rgba(var(--content-color), 1);
                    line-height: 1.5;
                    margin-bottom: 0;
                }
            }
        }

        .rating-review-box {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .product-rating-box {
                display: grid;
                gap: 3px;

                h2 {
                    font-size: 58px;
                    font-weight: 500;
                }
            }

            .rating-review-list {
                display: grid;
                gap: 9px;
                padding-left: 20px;
                border-left: 1px solid rgba(var(--border-color), 1);

                .progress {
                    margin-top: 7px;
                    height: 7px;
                    border-radius: 100px;

                    .progress-bar {
                        background-color: rgba(var(--theme-color), 1);
                        height: 7px;
                        border-radius: 100px;
                    }
                }
            }
        }

        .customer-review-list {
            padding: 16px 12px;
            border-radius: 8px;
            background-color: rgba(var(--light-gray), 1);

            >li {
                position: relative;
                width: 100%;

                +li {
                    margin-top: 19px;
                    padding-top: 19px;
                    border-top: 1px solid rgba(var(--border-color), 1);
                }

                .custom-image-name {
                    display: flex;
                    align-items: center;
                    gap: 15px;

                    .review-image {
                        width: 38px;
                        height: 38px;
                        border-radius: 100%;
                    }

                    .rating {
                        li {
                            line-height: 1;
                        }
                    }
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    margin-top: 12px;
                    line-height: 1.5;
                    color: rgba(var(--content-color), 1);
                }

                .like-dislike-list {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    li {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        position: relative;
                        color: rgba(var(--content-color), 1);

                        .form-check-input {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: transparent;
                            border: none;
                            box-shadow: none;
                            filter: unset;
                            background-image: unset;
                            margin: 0;
                            cursor: pointer;

                            &:checked {
                                ~label {
                                    span {
                                        color: rgba(var(--theme-color), 1);
                                        font-weight: 500;

                                        &.ri-thumb-up-line {
                                            &::before {
                                                content: "\f206";
                                            }
                                        }

                                        &.ri-thumb-down-line {
                                            &::before {
                                                content: "\f204";
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.product-bottom-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 10px;
    background-color: rgba(var(--white), 1);
    box-shadow: 0px -1px 10.1px 0px rgba(var(--black), 0.09);

    .button-group {
        display: flex;
        align-items: center;
        gap: 8px;

        button {
            padding: 15px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 7px;
        }
    }
}

.vertical-product-box {
    display: flex;
    gap: 10px;
    align-items: flex-start;

    .cart-image {
        background: rgba(248, 248, 248, 1);
        border-radius: 4px;
        width: 110px;
        height: 90px;
        @include flex_common;
        padding: 8px 5px;
    }

    .cart-detail {
        width: calc(100% - 110px - 10px);

        .name {
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
        }

        .item-price {
            display: flex;
            align-items: center;
            gap: 7px;
            margin-top: 6px;

            .offer {
                padding: 2px 5px;
                background-color: rgba(33, 129, 0, 0.1);
                color: rgba(33, 129, 0, 1);
                font-weight: 500;
                font-size: 10px;
            }
        }
    }
}

/**=====================
    4.2 Product box css end
==========================**/