.auth-main-box {
    background-color: rgba(var(--white), 1);
    height: calc(100vh - 36px - 14px - 97px);
    overflow: hidden auto;
    margin-top: 14px;
    padding-top: 31px;
    border-radius: 15px 15px 0 0;

    &-2 {
        height: calc(100vh - 85px);
    }
}

.auth-title {
    margin-bottom: 22px;

    h4 {
        font-weight: 400;
        margin-top: 5px;
        color: rgba(var(--content-color), 1);
    }
}

.forgot-text {
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
    text-align: right;
    color: rgba(var(--theme-color), 1);
}

.signup-option {
    margin-block: 26px 21px;
    text-align: center;
    font-size: 18px;
    color: rgba(var(--content-color), 1);
}

.auth-button {
    position: sticky;
    bottom: 0;
    left: 0;
    margin-top: 90px;
    text-align: center;
}

.otp-form-box {
    .theme-form {
        display: flex;
        align-items: center;
        gap: 15px;
        text-align: center;

        +.theme-form {
            margin-top: 0;
        }

        .form-control {
            text-align: center;
        }
    }
}

.social-button {
    display: grid;
    gap: 15px;

    li {
        display: block;
        text-align: center;

        a {
            padding: 15px;
            background-color: #f8f8f8;
            border-radius: 8px;
            display: block;
            width: 100%;
            font-size: 18px;
            color: rgba(var(--title-color), 1);
            font-weight: 500;
        }
    }
}